/* Navbar  *******************/

#navbar {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
}

#navbar a {
  margin-bottom: 1rem;
}

/* Showcase ******************/

.l-heading {
  display: block;
  font-size: 2rem;
}

#showcase .l-heading-block-1 {
  display: block;
  margin-bottom: 1rem;
}

/* Perception ******************/

.m-heading {
  margin: 2rem 0 1rem 0;
}

#perception .container {
  max-width: 95vw;
}

/* Emotional Well-being */

#emotional-well-being {
  max-height: 250vh;
}

/* About me ******************/

.s-heading {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.bio-content {
  display: block;
}

.bio-img {
  height: 15rem;
  width: 15rem;
  margin: 0 auto;
}

.bio-text {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.2rem;
  text-align: center;
  margin-top: 1rem;
}

/* Media for max-wisth: 510px */

@media (max-width: 510px) {
  /* Navabr ************/

  #navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #navbar a {
    margin-bottom: 1rem;
  }

  #navbar ul {
    display: block;
    text-align: center;
  }

  #navbar ul li {
    margin-top: 1rem;
  }

  /* emotional-well-being **********/

  #emotional-well-being {
    max-height: 350vh;
  }

  #emotional-well-being .m-heading .l-heading-block-1 {
    display: block;
    margin-bottom: 1rem;
  }

  /* about me ****************************/
  .bio-content {
    display: flex;
    flex-direction: column;
  }

  .bio-text {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1rem;
    text-align: center;
    margin: 0.5rem 0 0.5rem 0;
  }
}
