* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Montserrat, sans-serif;
  font-size: 62.5%;
  color: #6e6e6e;
  line-height: 1.7rem;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.container {
  max-width: 68.75rem;
  margin: auto;
  padding: 0 1rem;
  overflow: hidden;
}
.text-center {
  text-align: center;
}
.text-primary {
  color: #93cb52;
  font-weight: 300;
}
.l-heading {
  font-size: 3rem;
  letter-spacing: 0.15rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
  font-weight: 300;
  animation-name: headingFromTop;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
}
.bg-primary {
  background-color: #93cb52;
  color: #fff;
}
.m-heading {
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 0.4rem;
  margin: 4rem 0 2rem 0;
}
.s-heading {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 0.3rem;
  margin-bottom: 2rem;
}
@keyframes headingFromTop {
  0% {
    opacity: 0;
    transform: translateY(-2rem);
  }
  40% {
    opacity: 0.4;
    transform: translateX(-2rem);
  }
  80% {
    opacity: 0.8;
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
.lead {
  font-size: 1rem;
  font-weight: 200;
  margin-bottom: 2rem;
  text-transform: uppercase;
  animation-name: paragraphFromTop;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
}
@keyframes paragraphFromTop {
  0% {
    opacity: 0;
    transform: translateY(-2rem);
  }
  40% {
    opacity: 0.4;
    transform: translateX(2rem);
  }
  80% {
    opacity: 0.8;
    transform: translateX(-2rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
.btn:link,
.btn:visited {
  font-size: 0.7rem;
  display: inline-block;
  color: #fff;
  background-color: #333;
  padding: 0.3rem 0.8rem;
  border: none;
  border-radius: 0.5rem;
  transition: 0.5s;
  animation-name: btnFromTop;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
}
@keyframes btnFromTop {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
.btn:active,
.btn:hover {
  background-color: #93cb52;
}
.py-1 {
  padding: 2rem 0;
}
.py-2 {
  padding: 3rem 0;
}
.py-3 {
  padding: 4rem 0;
}
#navbar {
  display: flex;
  position: sticky;
  top: 0;
  background-color: #333;
  color: #fff;
  justify-content: space-between;
  z-index: 5;
  padding: 1.5rem;
}
#navbar > a {
  color: #fff;
}
#navbar a h1 {
  font-weight: 500;
}
#navbar ul {
  display: flex;
  align-items: center;
}
#navbar ul li a:link,
#navbar ul li a:visited {
  font-size: 0.85rem;
  color: #fff;
  padding: 0.75rem;
  margin: 0 0.4rem;
  letter-spacing: 0.1rem;
  transition: all 0.5s ease-in-out;
}
#navbar ul li a:active,
#navbar ul li a:hover {
  background-color: #93cb52;
  border-radius: 0.5rem;
}
#showcase {
  background: linear-gradient(
      to right bottom,
      rgba(0, 153, 77, 0.9),
      rgb(0, 61, 30, 0.3)
    ),
    url(../img/header.jpg) no-repeat center center/cover;
  height: 90vh;
  color: #fff;
}
#showcase .showcase-content {
  display: flex;
  height: 100%;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
}
#perception {
  background: linear-gradient(
      to bottom,
      rgba(0, 107, 107, 1),
      rgba(0, 45, 45, 0.6)
    ),
    url(../img/perception.jpg) no-repeat center center/cover;
}
#perception h2 {
  color: #fff;
}
#perception .container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
  justify-content: center;
  align-content: center;
  max-width: 75vw;
}
#perception .container h2 {
  margin-bottom: 1rem;
}
#perception .container h3 {
  font-size: 1.4rem;
  margin-top: 2rem;
}
#perception .container p {
  color: #fff;
  text-align: center;
  font-size: 1rem;
  line-height: 1.7;
  font-weight: 200;
  letter-spacing: 0.05rem;
  transition: all 0.5s ease-in-out;
}
#perception .container p:hover {
  border-bottom: 0.05rem #fff solid;
  border-top: 0.05rem #fff solid;
}
#emotional-well-being {
  background: linear-gradient(
      to bottom,
      rgba(255, 185, 0, 0.7),
      rgba(255, 119, 48, 0.2)
    ),
    url("../img/emotional\ well-being.jpg") no-repeat center center/cover;
}
#emotional-well-being .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 100%;
}
#emotional-well-being .container p {
  font-size: 0.9rem;
  line-height: 1.7;
  font-weight: 400;
  letter-spacing: 0.05rem;
  color: #fff;
  padding: 1rem;
  margin: 0.35rem 0;
}
#emotional-well-being .container .section-2-content p:hover {
  background-image: linear-gradient(
    to right bottom,
    rgba(126, 213, 111, 1),
    rgba(40, 180, 133, 0.3)
  );
  border-radius: 0.5rem;
  color: #fff;
}
#about-me {
  background: linear-gradient(
      to left top,
      rgba(0, 153, 77, 1),
      rgb(0, 61, 30, 0.5)
    ),
    url(../img/coding-924920_1920.jpg) no-repeat center center/cover;
}
#about-me h2 {
  color: #fff;
}
.bio-content {
  display: flex;
  height: 60vh;
}
.bio-content div {
  flex: 1;
}
.bio-img {
  background: url(../img/me.jpg) no-repeat center center/cover;
  border-radius: 15rem;
  margin-bottom: 2rem;
}
.bio-text {
  color: #fff;
  font-size: 1rem;
  font-weight: 300;
  line-height: 2rem;
  text-align: center;
  margin: auto;
  margin-left: 1rem;
}
footer {
  background: linear-gradient(
    to right,
    rgba(255, 185, 0, 1),
    rgba(255, 119, 48, 0.6)
  );
}
.text-primary {
  color: green;
}
.text-secondary {
  color: #0970d2;
}
footer div p {
  padding: 1.5rem;
  font-size: 1rem;
  text-align: center;
  color: #fff;
}
