/* Showcase ************/

.l-heading {
  font-size: 4rem;
  margin-bottom: 3rem;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  font-weight: 300;
  animation-name: headingFromTop;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
}

@keyframes headingFromTop {
  0% {
    opacity: 0;
    transform: translateY(-5rem);
  }

  40% {
    opacity: 0.4;
    transform: translateX(-5rem);
  }

  80% {
    opacity: 0.8;
    transform: translateX(3rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.lead {
  font-size: 1.5rem;
  font-weight: 200;
  margin-bottom: 2rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  animation-name: paragraphFromTop;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
}

@keyframes paragraphFromTop {
  0% {
    opacity: 0;
    transform: translateY(-10rem);
  }

  40% {
    opacity: 0.4;
    transform: translateX(3rem);
  }

  80% {
    opacity: 0.8;
    transform: translateX(-5rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

/* Perception ***********/

#perception .container {
  max-width: 55rem;
}

/* Emotional well-being ***********/

#emotional-well-being .container {
  max-width: 55rem;
}

#emotional-well-being .container p {
  margin-top: 2rem;
}
